/*police*/
@font-face {
    font-family: 'Lemonmilk';
    src: url('fonts/lemonmilk-regular.otf');
   }
@font-face {
    font-family: 'Dancing Script';
    src: url('fonts/DancingScript-Regular.otf');
}
.switch {
	display: inline-block;
	position: relative;
	width: 35px;
	height: 20px;
	cursor: pointer;
	overflow: hidden;
}
.switch input {
	position: absolute;
	top: -30px;
	left: -30px;
	width: 0;
	height: 0;
}
.switch input + span {
    position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: #99b4df;
   border-radius: 20px;
}
.switch input:checked + span {
	background: #bf34bf;
}
.switch input + span:before {
	content: "";
	display: inline-block;
	position: absolute;
	top: 27%;
	left: 4px;
	width: 12px;
	height: 12px;
	background: rgb(222, 157, 247);
	border-radius: 50%;
	transform: translateY(-25%);
	transition: all .5s;
}
.switch input:checked + span:before {
	left: 20px;
    
}
#listFix {
    z-index: 10;
    position: fixed;
    margin-left: 93%;
    margin-top: 5%;
    /* display: none; */
  }
#search_bar{
    width: 25%;
}
.error
{
    color: red;
    font-size: 1.5em;
}
#badge {
    position: relative;
    margin-left: 0%;
    margin-top: -40%;
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    font-style: inherit;
    font-weight: 1000;
    font-size: 0.7em;
    color: white;
    border: 1px solid rgb(35, 1, 38);
  } 
/* Toutes les pages */
body
{
    background-color: rgb(63, 13, 68);
    /* font-family:'lemonmilk-regular.otf',Arial, Helvetica, sans-serif; */
    font-family: 'Dancing Script', cursive;
    font-size: 1.7em;
}
.custom-div{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.comments
{
    width: 75%;
}
.recipesDesc
{
    width: 50%; 
    height: 70px;
}
#addRecipeButton{
    width: 200px;
}

.custom-button {
    margin-left: 50px;
    background-color: rgb(46, 43, 43);
    color: whitesmoke;
    border-radius: 4px;
    /* box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3); */
    transition: box-shadow 0.3s ease;
  }
  
  .custom-button:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    color: rgb(208, 122, 201);
  }
  .custom-button:active {
    transform: scale(0.95);
  }
  
  .customButtonRecipes {
    padding: 1.5px;
    margin-bottom: 0.5px;
    margin-left: 20px;
    background-color: rgb(46, 43, 43);
    color: whitesmoke;
    border-radius: 4px;
    /* box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3); */
    transition: box-shadow 0.3s ease;
    height: 50%;
  }
  
  .customButtonRecipes:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    color: rgb(208, 122, 201);
  }
  .customButtonRecipes:active {
    transform: scale(0.95);
  }
  .subComment
{
    width: 20%;
    margin-left: unset;
}
#ingredientSearch
{
    /* width: 60%; */
}
input[type="text"]
{
    background-color: rgb(46, 43, 43);
    color: whitesmoke;
}
input[type="email"]
{
    background-color: rgb(46, 43, 43);
    color: whitesmoke;
}
input[type="date"]
{
    background-color: rgb(46, 43, 43);
    color: whitesmoke;
}
input[type="password"]
{
    background-color: rgb(46, 43, 43);
    color: whitesmoke;
}
input[type="number"]
{
    background-color: rgb(46, 43, 43);
    color: whitesmoke;
}
textarea
{
    background-color: rgb(46, 43, 43);
    color: whitesmoke;
}
.selectUnity
{
    height: 50%;
}
select
{
    background-color: rgb(46, 43, 43);
    color: whitesmoke;
}
#ingredientQuantity
{
    
    width: 100px;
}
#title
{
    width: 200px;
}
#searchIngredient
{
    width: 200px;
}
.flex
{
    display: flex;
}
.row
{
    flex-direction: row;
}
.column
{
    flex-direction: column;
}

/* header */
.header
{
    justify-content: space-between;
}

.logo
{
    color: rgb(255, 255, 255);
    margin-left: 20px;
}
.logo_btn:hover
{
    cursor: pointer;
}
.logo img
{
    width: 120px;
    border-radius: 10px;
    margin-bottom: -20px;
}
.navbar
{
    width: 80%;
    height: 60px;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 20px;
    padding-top: 30px;
    justify-content: space-around;
    background-color: rgb(35, 1, 38);
    color: #04b5eb;
    list-style: none;

}
a
{ 
    text-decoration:none; 
    color: white;
    font-size: 1.3em;
    text-shadow: rgb(35, 1, 38) 1px 0 20px;

    display: inline-block;
    padding-bottom:5px;
    background-image: linear-gradient(rgb(255, 255, 255) 0 0);
    background-position: 0 100%; /*OR bottom left*/
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition: background-size 0.3s,background-position 0s 0.3s; /*change after the size immediately*/
}
a:hover
{
    color: white;
    text-shadow: #14a3c7 1px 0 10px;
    background-position: 100% 100%; /*OR bottom right*/
    background-size: 100% 2px;
}
.navbar_burger
{
     display: none;
}
.navbar_burger svg
{
    stroke: #14a3c7;
    width: 50px;
    height: 50px;
    margin-top: 10px;
}
.navbar_close
{
    stroke: whitesmoke;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 50px;
    display: none;
}

/* contenu */
.allcontenu
{
    width: auto;
    height: auto;
    background-image: url("image/cuisineBGFlou.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    padding: 20px;
    min-height: 90vh;
}
.background_contenue
{
    background-color: rgba(0, 0, 0, 0.35);
}
.historyLink
{
    padding-left: 15px;
    padding-right: 15px;
}
/* accueil */
.presentation
{
    justify-content: space-evenly;
    padding-left: 100px;
    margin-bottom: 50px;
    padding-top: 50px;
    width: auto;
}
.name
{
    margin-right: 20px;
    color: whitesmoke;
}
.texte_acceuil
{
    width: 500px;
}
.presentationTwo
{
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 50px;
}
.imageacceuil
{
    width: 500px;
    height: auto;
}
.imageacceuil img
{
    border: 5px solid white;
    width: 100%;
}
.button
{
    font-size: 1.3em;
    background-color: whitesmoke;
    color: rgb(35, 1, 38);
    height: 50px;
    width: 100px;
    border-radius: 10px;
    padding-left: 50px;
    padding-top: 30px;
    box-shadow: 5px 5px 5px 5px rgb(35, 1, 38);
}
.button:hover
{
    background-color: grey;
    color: #14a3c7;
    text-decoration: none;
    box-shadow: 2px 2px 2px 2px rgb(35, 1, 38);
}
/* news 
 .news
{
    height: auto;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px
}
.new 
{
    padding: 1px;
    color: white;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    margin-bottom: 20px;
}
.new:hover
{
    opacity: 0.8;
}
    /* cursor: pointer; */
.new p
{
    margin: 20px;
}
.new h2
{
    margin: 10px;
}
.new a
{
    margin: 20px;
} 
.service_products
{
    padding-top: 20px;
    margin-left: 100px;
    font-weight: bold;
}
.produits
{
    width: auto;
    justify-content: space-evenly;
}
.product
{
    width: 200px;
    height: 200px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    padding-left: 20px;
}
.product img
{
    margin-top: 20px;
    margin-left: 10px;
    width: 150px;
    height: 150px;

}
.product:hover
{
    opacity: 0.8;
    cursor: pointer;
}
.allservices
{
    width: auto;
    height: 500px;
    justify-content: space-evenly;
}
.service
{
    width: 800px;
    height: 60px;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 10px;
}
.service:hover
{
    opacity: 0.8;
    cursor: pointer;
}

/* inscription */
.form form
{
    margin: auto;
    width: 50%;
    color: rgb(35, 1, 38);
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 20px;

}
form input
{
    width: 80%;
    margin-bottom: 20px;
}
form label
{
    text-align: left;
}
.envoyer
{
    background-color: rgb(35, 1, 38);
    color: whitesmoke;
    width: 200px;
    height: 50px;
    border-radius: 10px; 
}
.form 
{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
/* feedback */
.form textarea
{
    width: 80%;
}
/* footer */
.footer
{
    background-color: rgb(35, 1, 38) ;
    color: whitesmoke;
    height: 100px;
    align-items: center;
}
.linkfooter
{
    justify-content: space-evenly;
    width: 70%;
}
.logo_reseau
{
    width: 300px;
    justify-content: space-evenly;
}
.img_logo img
{
    width: 50px;

}
/* RGPD mentions legales cgu */
.text_legale
{
    padding: 50px;
}
/* CSS appliqué aux TABLETTES */
@media screen and (max-width: 1024px)
{
    /* toutes les pages */
    a
    {
        font-size: 0.8em;
    }
    /* contenue */
    .presentation
    {
        padding-left: 0px;
    }
    .imageacceuil img
    {
        width: 500px;
    }
    /* page produit */
    .produits
    {
        width: auto;
        justify-content: space-around;
    }
    .product
    {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        padding-left: 20px;
    }
    .product img
    {
        margin-top: 10px;
        margin-left: 0px;
        width: 80px;
        height: 80px;
    }
    .allservices
    {
        width: auto;
        height: 300px;
    }
    .service
    {
        width: 500px;
        height: 60px;
    }
}
.card 
{
    border: 1px solid rgb(35, 1, 38);
    margin: 10px;
    padding: 10px;
    text-align: center;
}
  
.card img 
{
    max-width: 100%;
    height: auto;
}
/* CSS appliqué aux SMARTPHONES */

/* Définition des styles pour les cartes */
.card {
    display: inline-block;
    width: 23%; 
    margin: 1%; 
    vertical-align: top;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;

    /* Transition pour l'effet de zoom */
    transition: all 0.3s ease-in-out; 
  }
  
  .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .card .title {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    text-align: center;
  }
  
  .card .description {
    font-size: 1rem;
    padding: 10px;
    text-align: justify;
  }
  
  /* Effet de zoom et d'ombre au survol */
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3); 
  }
  /*investigation*/
#ingredient-list{

    font-family: 'Dancing Script', cursive;
    font-size: 1.6em;
}
.imgInvest
{
    margin-left: 30px;
    max-width: 550px;
    max-height: 550px;
}
.def_list{
    position: relative;
    margin-left: 40%;
    margin-right: 5%;
}
.list{
padding-top: -15px;
margin-top: -15px;
}
/*carte recette et view*/
.recipe-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  .recipe-card img {
    width: 200px;
    height: 150px;
    object-fit: cover;
  }
  .recipe-details {
    margin: 20px;
  }
  .recipe-image {
    width: 400px;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
  }
  .recipe-actions {
    margin-top: 10px;
  }
  /* Définition des styles pour la mise en page responsive */
  @media screen and (max-width: 720px) {
    .card {
        display: block;
        width: 85%;
        margin: 10px 0;
    }
    .homeImg{
        display: none;
    }
    .texte_jeu{
        display: block;
        width: 85%;
        margin: 10px 0;
    }
    .name{
        display: none;
    }
    .def_list{
        margin-left: auto;
        margin-right: auto;
        position:initial;
    }

    /* toutes les pages */
    a
    {
        font-size: 1em;
    }
    /* header */
    #listFix {
        z-index: 10;
        position: fixed;
        margin-left: 3%;
        margin-top: -45%;
        /* display: none; */
      }
    .navbar
    {
        position: fixed;
        top: -10px;
        right: -20px;
        width: 200px;
        height: 1000px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 100px;
        flex-direction: column;
        font-size: 1.6em;
        background-color: grey;
        transform: translateX(100%);
        display: none;
        transition: 0.3s transform ease-in-out;
    }
    .navbar.open
    {
        transform:  initial;
        display: flex;
        padding-left: 50px;
    }
    .navbar_burger
    {
        display: block;
        cursor: pointer;
    }
    .navbar_close
    {
        display: block;
        cursor: pointer;
    }
    .overlay_menu
    {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        display: none;
    }
    .overlay_menu.navbar.open
    {
        display: block;
    }
    /* Contenue */
    .presentation
    {
        flex-direction: column;
    }
    .texte_acceuil
    {
        width: 80%;
        text-align: center;
        margin: auto;
    }

    .presentationTwo
    {
        flex-direction: column;
    }
    .imageacceuil img
    {
        width: 250px;
        margin-left: 120px;
        border-radius: 10px;
    }
    .button
    {
        margin-top: 10px;
        width: 80px;
        height: 30px;
    }
    /* footer */
    .footer
    {
        height: 200px;
    }
    .linkfooter
    {
        flex-direction: column;
        margin-left: 70px;
        width: 60%;
        height: 200px;
        justify-content: space-evenly;
    }
    .logo_reseau
    {
        flex-direction: column;
        width: auto;
    }
    /* page produit */
    .service_products
    {
        text-align: center;
        margin-left: 0px;
    }
    .produits
    {
        width: auto;
        flex-direction: column;
    }
    .product
    {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        padding-left: 20px;
        margin-left: 80px;
    }
    .product img
    {
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 20px;
        width: 150px;
        height: 150px;
    }
    .allservices
    {
        width: auto;
        height: 300px;
    }
    .service
    {
        width: 300px;
        height: 60px;
        margin-left: 50px;
    }

    /* page inscription */
    .form p 
    {
        padding: 10px;
    }
    /*page investigation*/
    .imgInvest
    {
        display: none;
    }
    #ingredient-list{
        width: 85%;
        font-family: 'Dancing Script', cursive;
        font-size: 1.6em;
    }
    .custom-div
    {
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
    }
    .custom-button 
    {
        background-color: rgb(46, 43, 43);
        color: whitesmoke;
        border-radius: 4px;
        transition: box-shadow 0.3s ease;
    }
      
      .custom-button:hover 
    {
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        color: rgb(208, 122, 201);
    }
      
      .custom-button:active 
    {
        transform: scale(0.95);
    }
    #search_bar{
        margin-left: 20px;
        text-align: center;
        width: 75%;

    }
    .recipe-image
    {
        width: 100%;
        height: auto;
    }
    form > div 
    {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
      /* Réduire la largeur des éléments de saisie */
      input[type="text"],
      input[type="number"],
      textarea,
      select {
        width: 100%;
      }
    
      /* Ajouter une marge supérieure pour séparer les éléments */
      .customButtonRecipes,
      .selectUnity,
      .custom-button {
        margin-top: unset;
      }
    
      /* Centrer le bouton d'ajout d'ingrédient */
      #addButton {
        align-self: center;
      }
      #ingredientSearch
      {
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;
      }
      #ingredientSelectList
      {
        height: 25px;
        margin-bottom: 3px;
      }
      #addButton
      {
        padding: 2px;
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
        margin-left: unset;
      }
      #searchIngredient
      {
        width: 95%;
        
      }
      #title
      {
        width: 95%;
      }
      #searchButton
      {
        margin-left: unset;
        width: 100%;
      }
      #ingredientQuantity
      {
        width: 96%;
        margin-bottom: 3px;
    
      }
      #ingredientUnit
      {
        width: 100%;
        margin-bottom: 3px;
      }
      #description
      {
        width: 96%;
      }
  }
/* .container {
    width: 500px;
    height: 200px;
    position: relative;
  }
  
  .input-group {
    width: 100%;
    height: 20%;
    max-height: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
  }
  
  .form-control {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  } */